body {
  background-color: #f6f6f6;
  color: #000000;
  margin: 0;
}
#topbar {
  position: fixed;
  left: 0px;
  top: 0px;
  height: 60px;
  width: 100%;
  background-color: #f6f6f6;
  color: #000000;
  z-index: -1;
}
#contacts {
  position: fixed;
  top: 60px;
  left:0px;
  width: 250px;
  height: calc(100% - 60px);
  background-color: #ffffff;
  transition: .5s;
  overflow-y: auto;
  overflow-x: hidden;
  border-right: 1px solid #cccccc;
  border-top-left-radius: 25px;
  box-shadow: 0px 0px 5px #cccccc;
}
.box {
  height: 75px;
  padding: 10px;
  transition: .15s;
  cursor: pointer;
  border-right: 0px solid #c2c2c2;
}
.box:hover {
  background-color: #f7f7f7;
  border-right: 3px solid #c2c2c2;
}
.pfp {
  border-radius: 50%;
  box-shadow: 0px 2px 5px #afafaf;
  width: 50px;
  height: 50px;
  transition: .5s;
}
.info {
  position: relative;
  left: 65px;
  font-family: arial;
  top: -30px;
}
.logo {
  position: relative;
  left: 2px;
  top: 2px;
  width: 55px;
  height: 55px;
  filter: invert(5%);
}
.logotext {
  position: relative;
  top: 5px;
  left: 10px;
  font-size: 20px;
  color: #000000;
}
* {
  font-family: arial;
}
*:focus {
outline: none;
}
.nosee {
  visibility: hidden;
}
#messbox {
  position: fixed;
  left: 250px;
  top: 60px;
  width: calc(100% - 250px);
  height: calc(100% - 100px);
  overflow: hidden;
  border-top-right-radius: 25px;
  background-color: #fcfcfc;
  box-shadow: 0px 0px 5px #cacaca;
  z-index: 200;
}
#messboxsmall {
  width: 100%;
  height: 100%;
  word-wrap: break-word;
  overflow: auto;
}
#chatbox {
  position: fixed;
  left: 250px;
  top: calc(100% - 40px);
  width: calc(100% - 313px);
  height: 40px;
  border: 0;
  border-top: 1px solid #bbbbbb;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #ffffff;
  color: #000000;
}
#chatboxbutton {
  position: fixed;
  left: calc(100% - 63px);
  top: calc(100% - 40px);
  height: 40px;
  width: 63px;
  background-color: #dfdfdf;
  border: 0;
  border-top: 1px solid #bbbbbb;
  color: #000000;
}
#chatboxbutton:hover {
  background-color: #cfcfcf;
  cursor: pointer;
}
.smessage {
  padding: 7px;
  margin: 3px;
  font-size: 16px;
  background-color: #0263ff;
  color: #ffffff;
  float: right;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 3px;
  max-width: 400px;
}
.sopmessage {
  padding: 7px;
  margin: 3px;
  font-size: 16px;
  background-color: #e6e6e6;
  color: #000000;
  float: left;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 20px;
  max-width: 400px;
}
#settings {
  position: fixed;
  padding: 30px;
  left: calc(50% - 200px);
  top: calc(50% - 200px);
  width: 400px;
  height: 400px;
  background-color: #ffffff;
  color: black;
  border-radius: 10px;
  visibility: hidden;
  box-shadow: 0px 5px 10px #555555;
}
.susername {
padding: 3px;
font-size: 10px;
text-transform: uppercase;
}
#call {
position: absolute;
left: calc(100% - 50px);
top: 10px;
width: 40px;
height: 40px;
cursor: pointer;
}
#callform {
position: absolute;
left: 250px;
top: 60px;
width: calc(100% - 250px);
height: calc(50% - 60px);
margin: 0;
padding: 0;
border: 0;
visibility: hidden;
background-color: #000033;
}
iframe {
border:0;
padding:0;
margin:0;
width: 100%;
height: 100%;
}
#closeb {
position: absolute;
left: 20px;
top: 20px;
}
@media only screen and (max-width: 800px) {
#contacts {
width: 75px;
}
#contacts:hover {
width: 50%;
box-shadow: 0px 0px 20px 2px #000000;
}
#messbox {
left: 75px;
width: calc(100% - 75px);
}
#chatbox {
left: 75px;
width: calc(100% - 125px);
}
#callform {
left: 75px;
width: calc(100% - 75px);
}
}
