body {
  transition: .5s background-color;
  background-color: #000000;
  color: #00dd00;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

#topbar {
  height: 35px;
  width: 100%;
  transition: .5s background-color;
  background-color: #000000;
  color: #00dd00;
}

.group-container {
  position: absolute;
  display: flex;
  top: 35px;
  width: 100%;
  height: calc(100% - 35px);
}

/* Contacts */
#contacts {
  top: 60px;
  left:0px;
  width: 250px;
  min-width: 250px;
  height: 100%;
  background-color: #000000;
  transition: .5s;
  overflow-y: auto;
  overflow-x: hidden;
}

.box {
  height: 75px;
  padding: 10px;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
}

.box:hover {
  border-bottom: 1px solid #00dd00;
}

.pfp {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  transition: .5s;
}

.info {
  position: relative;
  left: 65px;
  font-family: Arial, Helvetica, sans-serif;
  top: -35px;
  color: #00dd00;
}

/* Logo */
.logo {
  left: 2px;
  top: 2px;
  width: 35px;
  height: 35px;
  filter: invert(50%) hue-rotate(180deg);
}

.logo:hover {
  background-color: rgb(0,0,0,.2);
}

.logotext {
  position: relative;
  top: 2px;
  font-size: 18px;
  color: #00dd00;
}

* {
  font-family: Arial, Helvetica, sans-serif;
}

*:focus {
  outline: none;
}

.nosee {
  visibility: hidden;
}

.message-container {
  flex: auto;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-top-left-radius: 10px;
  background-color: #000000;
  z-index: 1;
}

#message-box {
  width: 100%;
  height: 100%;
  word-break: break-all;
  overflow: auto;
}

#chatbox {
  height: 40px;
  border: 0;
  border-top: 1px solid #000000;
  padding-left: 10px;
  padding-right: 80px;
  background-color: #000000;
  color: #00dd00;
}

#chatboxbutton {
  position: fixed;
  left: calc(100% - 63px);
  top: calc(100% - 38px);
  height: 40px;
  width: 63px;
  background-color: #000000;
  border: 0;
  border-top: 1px solid #000000;
  color: #00dd00;
}

#chatboxbutton:hover {
  background-color: #202020;
  cursor: pointer;
}

/* Loading animation */
.loading {
  width: 50px;
  height: 50px;
  border-top: 2px solid #317df7;
  border-radius: 50%;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  animation-name: loading;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Message */
.message {
  display: flex;
  margin: 20px;
}

.message-right {
  display: inline-block;
}

.message .profile-pic {
  width: 50px;
  height: 50px;
  vertical-align: top;
  border-radius: 5px;
}

.message .username {
  display: block;
  margin-left: 5px;
  color: #00dd00;
  font-weight: bold;
  border-radius: 3px;
}

.message .contents {
  display: inline-block;
  margin-left: 5px;
}

/* Extra */
#settings {
  position: fixed;
  padding: 30px;
  left: calc(50% - 200px);
  top: calc(50% - 200px);
  width: 400px;
  height: 400px;
  background-color: rgb(0,0,0,.8);
  color: #00dd00;
  border: 1px solid #000000;
  border-radius: 5px;
  display: none;
  z-index: 2;
}

#call {
  position: absolute;
  left: calc(100% - 50px);
  top: 10px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  z-index: 3;
}

#callform {
  position: absolute;
  left: 250px;
  top: 60px;
  width: calc(100% - 250px);
  height: calc(50% - 60px);
  margin: 0;
  padding: 0;
  border: 0;
  visibility: hidden;
  background-color: #000033;
  z-index: 3;
}

iframe {
  border:0;
  padding:0;
  margin:0;
  width: 100%;
  height: 100%;
}

#closeb {
  position: absolute;
  left: 20px;
  top: 20px;
}

/* Notifications */
#notification-container {
  position: absolute;
  width: 400px;
  right: 5px;
  top: 5px;
  z-index: 100;
}

#notification-container .alert-light {
  color: #00dd00;
}

/* Right click menu */
.menu {
  background-color: #000000;
  border: 0;
  border-radius: 2px;
  width: 150px;
  z-index: 120;
}

.menu .menu-item {
  display: block;
  padding: 5px;
  border-radius: 2px;
  cursor: pointer;
}

.menu .menu-item:hover {
  background-color: #101010;
}

/* Mobile */
@media only screen and (max-width: 800px) {
  #contacts {
    width: 75px;
    min-width: 75px;
  }
  #contacts:hover {
    width: 250px;
    min-width:250px;
  }
  #messbox {
    left: 75px;
    width: calc(100% - 75px);
  }
  #chatbox {
    left: 75px;
    width: calc(100% - 125px);
  }
  #callform {
    left: 75px;
    width: calc(100% - 75px);
  }
}
